<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/nlp.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> NLP(Natural Language Processing) </h3>
    <ul>
      <li> Text Mining </li>
    </ul>
    <p> Document Summarization, Infomation Extraction, Document Classification.</p>
    <a class="project-link" href="https://github.com/HyeJinSim/jinis_stat.github.io/blob/master/%EC%8B%AC%ED%98%9C%EC%A7%84_%ED%8F%AC%ED%8A%B8%ED%8F%B4%EB%A6%AC%EC%98%A4.pdf">Check it out</a>
  </div>
</div>

