<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="nlp" src="{{ "/assets/img/nlp.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> NLP(Natural Language Processing) </h3>
    <ul>
      <li> Text Mining </li>
    </ul>
    <p> Document Summarization, Infomation Extraction and Document Classification using R.</p>
    <a class="project-link" href="https://github.com/HyeJinSim/jinis_stat.github.io/blob/master/NLP_TextMining_%EC%8B%AC%ED%98%9C%EC%A7%84.pdf">Check it out</a>
  </div>
  <div class="images-left">
    <img alt="deeplearning" src="{{ "/assets/img/deeplearning.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Machine & Deep Learning </h3>
    <ul>
      <li> Regression and Classification </li>
    </ul>
    <p> The various methods of supervised learning using Tensorflow. </p>
    <a class="project-link" href="https://github.com/HyeJinSim/jinis_stat.github.io/blob/master/Machine_and_Deep_Learning_%EC%8B%AC%ED%98%9C%EC%A7%84.pdf">Check it out</a>
  </div>
</div>

